# Dépendances Node.js
node_modules
npm-debug.log

# Fichiers sensibles
.env
.env.local

# Fichiers de développement
.git
.gitignore
README.md
.vscode
.idea

# Fichiers système
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Tests
coverage/
.nyc_output/
